[2022-04-29 19:58] derrickmehaffy opened #1 "Add credit to Notum in README"
TODO: Add information about sql to sql script for Notum (Credit/link to their site/ect)

[2022-05-02 17:42] LucaNerlich opened #3 "column "display_name" of relation "up_users" does not exist"
v3 user_permissions user have a column "display_name".
This does not exist on a fresh v4

![image](https://user-images.githubusercontent.com/5942270/166297482-41a4523c-253e-4066-98c2-a824a320b012.png)

[code]

[2022-05-02 17:44] LucaNerlich commented on #3
ah, I think this one has been created by us manually. Sorry for that.

[2022-05-02 17:44] #3 closed

[2022-05-04 13:04] LucaNerlich opened #5 "BUG: 1:1 Relation in Component does not get migrated, due to missing column in v4 table."
# Issue

Thanks for the migration scripts. However when executing the migration, I get the error:
`Column »author« of relation »components_blog_blog_bases« does not exists.`.

In the mentioned v3 component we have a OneToOne relation to author like this (as described [here](https://docs.strapi.io/developer-docs/latest/update-migration-guides/migration-guides/v4/code/backend/content-type-schema.htm

[2022-05-05 13:21] jacargentina opened #7 "TypeError: boolean false is not iterable (cannot read property Symbol(Symbol.iterator))"
## Bug report

### Required System information

- Node.js version:  18
- NPM version: 8.6.0
- Source Strapi version: 3.6.8
- Target Strapi version: 4.1.5
- Source Database: strapi-production
- Target Database: strapi-production-v4
- Operating system: macos
- Which script are you running: v3-sql-v4-sql

### Describe the bug

This output I got when trying to migrate

[code]

### Steps to reproduce t

[2022-05-05 14:22] LucaNerlich commented on #7
without further info / schema examples / model examples this is not reproducible

[2022-05-05 14:35] jacargentina commented on #7
By looking at the code, the table `core_store` has the data.

[test.csv](https://github.com/strapi/migration-scripts/files/8632101/test.csv)

Is any other thing I can send?

[2022-05-05 21:00] LucaNerlich commented on #7
Quite possible, that they forgot that it is/was possible to disable the timestamps alltogether. Could you post example data / schemas from your v3 and v4 database and json models / content-types?

That would help to understand what the script is trying to do and why it fails.

[2022-05-06 13:02] skyclb commented on #5
I ran into the same error message when dealing with `oneToOne` and `oneToMany` relations in components. It seems, that the script does not take relations into account for components since it tries to insert into the v3 relation field in `components_<folder>_<component_name>` instead of in to new `components_<folder>_<component_name>_<relation_name>_links` table.

[2022-05-06 13:35] jacargentina commented on #5
I'm. having a similar error, any advance on a fix ?

[2022-05-06 15:18] paulpopus opened #9 "Tables with plural names from v3 not mapped to singular names in v4"
### Describe the bug

All table names for content types in v3 use a plural name, but in v4 some of them use a singular name instead.

Error:
[code]

In v4 the tables for these are country and timezone respectively.

### Steps to reproduce the behavior

Migrate a content type with a plural name such as "countries" from v3 to a singular name in v4 "country".

### Expected behavior / solution

Abilit

[2022-05-06 15:23] LucaNerlich commented on #9
I think the origin of this issue is, when the v3 table / content type has been created with a plural key/name.

For example V3 Content Type: BlogPosts instead of BlogPost. This will create a schema thats not conform with v4, since the key is already plural (v4 now has separate singular and plural names), therefore the script breaks / v4 startup fails.

[2022-05-06 15:55] paulpopus commented on #9
Here's my quick solution....

In `helpers` I've added a new file `mapPluralTables.js` with
[code]

Then in the `migrate/index.js` require the new helper function at the top
[code]

I've extended the table name return for my database `row => row.table_name` like this:

[code]

If I have some time after I finish this migration I may open up a PR if this sounds like a decent solution for others.

[2022-05-09 14:35] paulpopus commented on #5
Unfortunately I don't have time to update and make a PR to the scripts right now but here's what worked for me in case someone's struck for time and needs a quick fix:

Create the missing columns in the new V4 database so that your components can migrate over safely, then you can manually export and re-import the data from your components__% table into the components_COMPONENT_FIELD_links tables u

[2022-05-09 21:43] #7 closed

[2022-05-12 09:44] TomWebbio commented on #5
I'm having the exact same issues. Seeing as we have over a hundred relations, manually writing queries to add columns and then fix the data will be a lot of work.

Is there any chance of this being fixed in the import tool?

[2022-05-12 16:01] mannp opened #10 "Migrate strapi_permission (v3) into admin_permissions (v4) - column "fields" of relation "admin_permissions" does not exist"
## Bug report

Taken 8hrs to get this far :-/

### Required System information

[code]

### Describe the bug

Migration failure

`error: insert into "admin_permissions" ("action", "conditions", "created_at", "fields", "id", "properties", "subject", "updated_at") values ($1, $2, $3, $4, $5, $6, $7, $8), ($9, $10, $11, $12, $13, $14, $15, $16), ($17, $18, $19, $20, $21, $22, $23, $24), ($25, $26, $2

[2022-05-12 16:14] mannp commented on #10
Perhaps you can help me with what files / api I can share to give you that information?

Some data within 'fields' is;
`
["cover", "title", "content", "slug", "meta.name", "meta.value"]`

[2022-05-12 18:16] Meljesson commented on #5
Is the Strapi team working on this script? I'm having the same issues as the others here. I've written queries that added missing columns the strapi_permission to admin_permissions issue but seeing as I have lots of relations, that'll be a lot of work especially since my strapi instance gets used everyday

[2022-05-12 19:50] LucaNerlich commented on #5
No communication at all, after initial "beta" script release.

[2022-05-12 19:55] derrickmehaffy commented on #5
It's in our to-do, please keep in mind we have a lot of stuff going on and still a very small team. If you are interested in helping by providing pull requests like many others in our community please do. In the meantime if you are unable to assist us, please wait patiently and please remember to abide by our [Code of Conduct](https://forum.strapi.io/faq)

[2022-05-12 19:58] LucaNerlich commented on #5
Thanks :)

Hope you can understand the frustration some parts of the community are feeling - v4 out for many months, but somewhat still stuck with that migration ahead of them.

[2022-05-12 20:58] derrickmehaffy commented on #5
Trust me, it's not just the community that is frustrated but there is only so many working hours in a day and only so many of us that can actually do anything. There are far more community members than us which includes a lot of GitHub issues, Discord messages, Forum post/replies, Pull requests, twitter messages, emails, .... the list is long.

Benefit of open source is the source is there, those

[2022-05-13 07:19] TomWebbio commented on #5
Thanks for the reaction, Derrick. Of course, I understand that you guys are really busy, and the scripts are still in beta after all.

It would be very helpful to have some kind of timeline on when you are going to start working on this issue. It'd help me out immensely in terms of planning. :)

[2022-05-19 16:09] derrickmehaffy commented on #10
@mannp it does not create the tables for you. As the instructions suggest you need to initialize your v4 database before you run the script. You init the DB by starting the v4 App which auto creates the tables and columns.

[2022-05-19 16:33] mannp commented on #10
Thanks, @derrickmehaffy, I have already, done this, but the table in v3 does not exist in v4 so init the v4 db would not help, would it?

[2022-05-19 16:33] derrickmehaffy opened #11 "Add more verbose logging of what is actually being done"
## Enhancement Request

### Describe the enhancement

Add additional logging options to have a verbose output of what is actually being done:

- What was copied
- What was skipped
- What errored out

[2022-05-19 16:36] mannp commented on #10
It is not accessible, but I can copy and paste what is needed...where would I look for the model structure relating to 'column "fields" of relation "admin_permissions" does not exist'?

More simply, how do I show the model structure to help you, help me?

[2022-05-19 16:57] LucaNerlich commented on #10
you could for example use a tool to visualise your v3 database schema. For example Jetbrains DataGrip allows you to "right click" a schema/database -> generate diagram.

[2022-05-19 19:28] derrickmehaffy commented on #10
I should clarify it won't create any of the new v4 tables for you as they should already exist. The script takes the old data/format in v3, converts it to the various v4 formats, and writes them into the new v4 table structure generated by starting the app.

You need two different databases, one for v3 and one for v4.

[2022-05-19 20:20] mannp commented on #10
I have two databases v3 and v4 as per the guide.

Unfortunately, it doesn't do this;

`The script takes the old data/format in v3, converts it to the various v4 formats, and writes them into the new v4 table structure`

[2022-05-19 20:21] derrickmehaffy commented on #10
Is your issue the same as https://github.com/strapi/migration-scripts/issues/5 ?

[2022-05-19 20:24] mannp commented on #5
It's disappointing, though, that such a good product does not have a designed data path to a major upgrade.

It appears that it is actually just not a priority.

[2022-05-19 20:26] mannp commented on #10
I will check tomorrow, after checking this out -> https://www.npmjs.com/package/strapi-plugin-entity-relationship-chart/v/3.1.0

It might show the model structure....

[2022-05-23 23:01] derrickmehaffy commented on #5
I shared more context in our [Discord](https://discord.strapi.io):
![image](https://user-images.githubusercontent.com/8593673/169918052-35edaa76-a472-4980-ad7a-07153592f9a4.png)

[2022-05-26 09:32] laurenskling opened #12 "v3 mongo => v3 sql: timestamps conversion not working"
Thanks so much for making these scripts!

v3 mongo=> v3 sql timestamps aren't converting for me.

I find it strange in the code that:
https://github.com/strapi/migration-scripts/blob/b7c5751d46f0bde5ec3b7f6955f2acce71acb4d6/v3-mongodb-v3-sql/transform.js#L16 here "createdAt", "updatedAt" are omitted before they are rewritten as created_at and updated_at: https://github.com/strapi/migration-scripts

[2022-05-29 18:33] tonoli commented on #10
I have exactly the same issue. When I start a v4 project the table admin_permissions does not have the column "fields" created so I run into the same issue:
[code]

<img width="272" alt="Screenshot 2022-05-29 at 20 28 22" src="https://user-images.githubusercontent.com/17257576/170885974-c7250020-ba34-4b1a-b6fc-006863a36d6b.png">

<img width="336" alt="Screenshot 2022-05-29 at 20 28 38" src="https:

[2022-05-29 18:38] tonoli commented on #10
I found the solution is to drop de column fields in the `strapi_permission` table,
then the script ran without problem 🚀🚀🚀🚀

[2022-06-03 14:35] alexandrebodin commented on #12
Going to close this as I consider it fixed with the latest changes I did.

[2022-06-03 14:42] #5 closed

[2022-06-03 15:34] derrickmehaffy commented on #10
Should have been fixed in https://github.com/strapi/migration-scripts/pull/14 as I believe this is the same as #5

[2022-06-03 15:34] #10 closed

[2022-06-03 15:34] mannp commented on #10
Hey @tonoli thanks, but I have data in those fields, so dropping will just delete the data surely?

[2022-06-03 15:35] mannp commented on #10
Not fixed for me....

[code]

[2022-06-03 15:36] derrickmehaffy commented on #10
@mannp Do you have two entirely different databases? One for v3 and one for v4 that you are migrating the data from v3 to v4?

Or are you trying to do this on one database?

[2022-06-03 15:37] mannp commented on #10
Think you ask me this before :) and yes I do ... will post a pic and will post the relation in just a sec

[2022-06-03 15:41] mannp commented on #10
![image](https://user-images.githubusercontent.com/4335298/171896467-3e3fc7f4-755d-4e21-b73b-a134c93a2dc8.png)

[2022-06-03 15:51] mannp commented on #10
I am not aware I have changed anything to do with the admin model, I have not changed any of the permissions structure...it is the standard v3 model.

I have merely enabled permission in the admin panel to expose elements of my api structure.

[2022-06-03 16:33] derrickmehaffy commented on #10
This error though is `admin_permissions` which doesn't have anything to do with the users-permissions :thinking: I am questioning why others aren't hitting this issue though.

[2022-06-03 16:44] mannp commented on #10
I have removed the user data structure from my post, as this appears to not be user related at all, as I presumed admin was a user..

It explains though why I was unclear where the data structure was from.

I guess one other has the issue @tonoli :)

[2022-06-04 15:35] dawnerd opened #15 "SQLITE_CONSTRAINT: NOT NULL constraint failed"
Running Mongo -> Sql

[code]

Schema for that:

[code]

[2022-06-04 15:47] dawnerd commented on #15
So luckily the data that was failing was experimental and I was able to just remove it and continue on.

I did run into another issue:

[code]

I just wrapped that bit of code in a try just to get it to complete. Seems there's some old data somewhere that is missing a connection, nbd really.

Apart from this the script seems to have been successful at migrating ~4k documents with complex relations

[2022-06-04 17:41] derrickmehaffy commented on #10
Strapi will automatically create the permission nodes but you'd just need to reset the permissions on the roles as you want them.

Odd that I couldn't reproduce this though : thinking:

[2022-06-04 20:01] mannp commented on #10
Is there a chance this will be resolved in the next migration script?

Can this issue be reopened as it was not resolved by the other issues changes.

[2022-06-05 18:44] derrickmehaffy commented on #10
I really need reliable instructions to reproduce to keep an issue open. Me and 3 other people have tried to reproduce this and we can't :/

[2022-06-05 19:38] mannp commented on #10
Oh dear, so one other user has reported the issue, and Strapi doesn't think it's worthy of keeping open or even trying to resolve.

Best we forget about it.

[2022-06-06 09:18] derrickmehaffy commented on #10
@mannp it's not that it's not worthy, it's more so determining if it's actually a bug vs an environmental issue. We need reliable steps to reproduce, if it can't be reproduced then we can't confirm it as a bug.

[2022-06-06 10:09] mannp commented on #10
Frankly, I am not wishing for a discussion on the way you manage your repo's.

A 'migration script' that only migrates in a strictly limited scenario is not a 'v3 to v4 migration' script, when it is so severely restricted.

I have manually dropped that column in the table and now have another issue as my user structure is not virgin.

I have spent far too many months waiting and people hours attem

[2022-06-06 11:43] derrickmehaffy commented on #10
Sorry to hear that and wish you the best of luck.

[2022-06-07 13:10] janmei opened #16 "Column does not exist for Relation."
## Bug report

### Required System information

- Node.js version: 16.15.0
- NPM version: 8.5.5
- Source Strapi version: v3.6.9
- Target Strapi version: v4.1.9
- Source Database: postgres 12
- Target Database: postgres 12
- Operating system: Ubuntu
- Which script are you running: v3-sql-v4-sql

### Describe the bug

I have the latest version with the Pull Request which fixed the relation issues #1

[2022-06-09 18:11] Meljesson commented on #16
janmei look into your v3 database table and v4 database table . You have column components_slidetypen_template_twl_id in your v3 table that is not present in v4. You have to drop that column called components_slidetypen_template_twl_id in your v3

[2022-06-10 18:05] Meljesson opened #17 "Migration script duplicates the value for core store plugin_content_manager_configuration_content_types::"
Running the migration script duplicates the value of edit in core store plugin_content_manager_configuration_content_types::
for all collection types that have a dynamic component.

This is what my collection looks like in version 3 Strapi

![Screen Shot 2022-06-10 at 1 55 19 PM](https://user-images.githubusercontent.com/29881184/173124420-45a85db2-2a5f-4be5-9062-a5f3087942eb.png)

As you can see

[2022-06-12 07:54] radu-reason opened #19 "How to port an extra column ("fields") from "strapi_permission" to "admin_permissions""
## Bug report

### Required System information

- Node.js version: v14.18.3
- NPM version: 0.34.0
- Source Strapi version: 3.6.3
- Target Strapi version: 4.1.12
- Source Database: PostgreSQL 12.9 (Ubuntu 12.9-0ubuntu0.20.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0, 64-bit
- Target Database: same as above
- Operating system: Linux Mint 20.2
- Which script are

[2022-07-05 17:25] derrickmehaffy commented on #19
Indeed, this looks like a customization that won't be covered by these scripts as it looks like you modified your admin permissions that we don't have normally.

If you aren't actively using this, you should drop it.

[2022-07-07 14:22] msalzburg opened #21 "Migration script does not migrate existing "created_at" and "updated_at" timestamps"
## Bug report

### Required System information

- Node.js version: v14.19.2
- NPM version: 8.9.0
- Source Strapi version: 3.6.10
- Target Strapi version: 4.2.2
- Source Database: PostgreSQL 12.11
- Target Database: same as above
- Operating system: Mac OS X 12.3.1 (Monterey)
- Which script are you running: v3-sql-v4-sql, pg

### Describe the bug

During model migration the script omits existing "c

[2022-07-11 15:06] derrickmehaffy commented on #11
To discuss with Notum:
- When we should log
- What we should log
- How to enable/disable logging (verbosity)

[2022-07-11 21:01] #21 closed

[2022-07-11 22:05] derrickmehaffy commented on #9
Hello I'm unable to reproduce this given the current state of the migration script. Could you test this again and see if you still hit the same issue?

[2022-07-14 20:52] derrickmehaffy commented on #9
No for now I think that's fine. I'll set it as closed and if someone else hits the issue again and provide reproduction steps they can respond and we can reopen.

Thanks!

[2022-07-14 20:52] #9 closed

[2022-07-19 11:00] PritamSangani commented on #19
The "fields" column was renamed to "properties" it seems as part of the i18n feature (v3.6.0) back in April 2021. Any project created before this date will have this issue as the "fields" column was not removed as part of the data migration to the "properties" column.

[2022-07-20 13:02] VallyPepyako opened #25 "Table for localizations_links dont exist after migration"
## Bug report

### Describe the bug

Can't handle all locales from single type after migration from strapi 3

### Steps to reproduce the behavior

Fixed manually by run something like
`insert into `blog_page_localizations_links` (`blog_id`, `inv_blog_id`) values (2, 1)
insert into `blog_page_localizations_links` (`blog_id`, `inv_blog_id`) values (1, 2)`

[2022-07-20 17:52] derrickmehaffy opened #26 "Script crashes when trying to migrate columns that don't exist in v4"
## Bug report

### Required System information

- Node.js version: v14
- NPM version: v6
- Source Strapi version:  3.6.8
- Target Strapi version: 4.2.3
- Source Database: PG
- Target Database: PG
- Operating system: Linux Mint 21
- Which script are you running: v3-sql to v4-sql

### Describe the bug

When old columns were not deleted (caused by: https://github.com/strapi/strapi/issues/1114 most li

[2022-07-20 17:53] derrickmehaffy commented on #26
Temporary workaround is to clean your v3 database of fields that have been deleted. It's very time consuming and annoying but is currently the only known workaround until we work on a fix.

[2022-07-20 18:15] derrickmehaffy commented on #26
cc @marcoautiero

[2022-07-22 07:44] bananafreak opened #27 "Script crashes when trying to insert or update on table "x_components" violates foreign key constraint "x_components_entity_fk""
## Bug report

### Required System information

- Node.js version: v16
- NPM version: v6
- Source Strapi version: 3.6.8
- Target Strapi version: 4.2.0
- Source Database: PG
- Target Database: PG
- Operating system: Linux POP OS 22.04
- Which script are you running: v3-sql to v4-sql

### Describe the bug

insert or update on table "x_components" violates foreign key constraint "x_entity_fk"

### Sc

[2022-07-27 20:52] derrickmehaffy commented on #25
Please completely fill out the bug report, marking this as closed. Please reopen a new bug following the complete bug report template.

[2022-07-27 20:52] #25 closed

[2022-07-27 20:54] derrickmehaffy commented on #19
@martincapek this is one of those edge cases :sweat: we prob should just add a quick check to ignore this one.

[2022-07-29 14:11] AAS97 opened #29 "Error and invalid result migrating localizations"
## Bug report

### Required System information

- Node.js version: v14.19.3
- NPM version:
- Strapi version: From 3.6.10 to 4.2.2
- Database: psql13
- Operating system: MacOs

### Describe the bug

Running v3-sql-v4-sql migration, got an error on table contentName_localizations migration.
For some data models : no error but invalid results (only contentName_id column is populated)
For some data mo

[2022-07-31 18:05] cruonline commented on #27
I have the same issue. Components are migrated before target entities, so we get constraint violation.

[2022-08-01 08:50] martincapek commented on #19
It is possibly duplicate of #26 for own fields you have to create custom migration right now since #26 will be columns that are not generated in strapi v4 ignored.

[2022-08-01 08:52] martincapek commented on #27
@bananafreak  @marcoautiero So if I understand correctly you have relation for model in component right?

[2022-08-01 08:54] martincapek commented on #27
Also what version of PG are you using? For import is set DB as replica so no foreign check should be done

[code]

[2022-08-01 09:19] cruonline commented on #27
I am using 14.4, but I disabled replica mode, as I don't have enough right to do so (Heroku PG)
My workaround was changing order of migrations, so models are done before components.
Now it works fine.

[2022-08-01 09:22] martincapek commented on #27
Okey, thanks for info! :)

[2022-08-01 10:46] bananafreak commented on #27
we actually used the same workaround as @cruonline

[2022-08-03 10:18] salmanm opened #31 "Error in migration when long identifier names are involved"

[2022-08-03 10:59] GregorSondermeier commented on #26
We're trying to migrate from v3 to v4 and we're facing the same issue. We have some tables that do not exist anymore (some deleted content types) and some columns that do not exist anymore (some deleted fields within a content type that strapi v3 kept as explained in https://github.com/strapi/strapi/issues/1114).

For the missing tables we get a warning and the script continues, for the missing fi

[2022-08-05 21:11] #26 closed

[2022-08-05 21:12] derrickmehaffy commented on #31
Nevermind I misunderstood this initially as an issue with the migration scripts but this is referencing strapi/strapi code

[2022-08-06 20:59] jodok opened #32 "v3-sql-to-v4-sql migration does not populate all _localization_links tables correctly"
## Bug report

### Required System information

- Node.js version: 16.16.0
- NPM version: 8.11.0
- Source Strapi version: 3.6.8
- Target Strapi version: 4.3.2
- Source Database: postgres 13
- Target Database: postgres 13
- Operating system: OSX
- Which script are you running: v3-sql-to-v4-sql

### Describe the bug

The `blog_post_categories_localizations_links` table of one of my content types is

[2022-08-08 14:09] fdel-car opened #33 "v3 to v4 script fails when the U&P plugin is not installed"
## Bug report

### Required System information

- Node.js version: 16.13.0
- NPM version: 8.13.2
- Source Strapi version: 3.6.8
- Target Strapi version: 4.1.9
- Source Database: PostgreSQL 12.9
- Target Database: PostgreSQL 12.9
- Operating system: WSL2 / Ubuntu 20.04
- Which script are you running: `v3-sql-v4-sql`

### Describe the bug

If the U&P plugin is missing from the target project, the sc

[2022-08-10 13:32] kenanshrbage opened #34 "(node:13348) UnhandledPromiseRejectionWarning: error: insert into "up_users""
i have this problem by migrate from v3 to v4
can somebody help me to fix this problem or does somebody have any idea ?
thanks in advance

Migrating 25786 items from users-permissions_user to up_users
users-permissions_user batch #1
(node:13348) UnhandledPromiseRejectionWarning: error: insert into "up_users" ("academy_department", "address_city", "address_country", "address_street", "address_zip",

[2022-08-12 16:49] derrickmehaffy commented on #32
Can't reproduce currently, here is a 7 minute video with me going through the process of migration for localization. If I missed anything please feel free to let me know.

https://www.loom.com/share/f7dbe172df154a5d8be22d466d6ccb8d

[2022-08-12 16:51] derrickmehaffy commented on #33
We would likely need to add a special exception here or possibly just build an optional addtional custom migration that would just ignore/delete these during the migration.

@martincapek What are your thoughts here?

[2022-08-12 16:53] derrickmehaffy commented on #34
Please follow the bug report template as it provides critical information we need to reproduce the bugs.

[2022-08-12 16:53] #34 closed

[2022-08-12 16:54] derrickmehaffy commented on #29
As related to the other issue I tried to reproduce issues with migrations of localized entries and could not:

---

Can't reproduce currently, here is a 7 minute video with me going through the process of migration for localization. If I missed anything please feel free to let me know.

https://www.loom.com/share/f7dbe172df154a5d8be22d466d6ccb8d

[2022-08-12 16:55] derrickmehaffy commented on #19
This -should- be fixed in https://github.com/strapi/migration-scripts/pull/30 marking as closed unless someone hits the issue again.

[2022-08-12 18:33] kenanshrbage commented on #34
the problem actually because of custom extension, actually the columns with the relation wont be existing.
i dont know why ? so that, it is very kind from you when you could help me

[2022-08-13 06:43] jodok commented on #32
i created a quick video about the problem: https://youtu.be/NZTNWLcMwW8

(we've migrated our site successfully, but had to fix the localizations in the database manually)

[2022-08-13 09:29] derrickmehaffy commented on #32
Can you make sure you have the latest version of the data migration script?

[2022-08-13 09:45] jodok commented on #32
yes, latest checkout from main

[2022-08-13 21:40] VincentDugard commented on #19
Hello i'm getting this error even with this MR merged

[code]

[2022-08-15 18:10] derrickmehaffy commented on #32
@jodok can you try to reproduce this in a fresh project as I still haven't been able to get to the same error as you.

[2022-08-16 17:44] jweb89 opened #35 "Environment variables schema not working"
## Bug report

### Required System information

- Node.js version: 14.19.0
- NPM version: 6.14.16
- Source Strapi version: 3
- Target Strapi version: 4
- Source Database: postgresql
- Target Database: postgresql
- Operating system: docker
- Which script are you running: v3-sql-v4-sql

### Describe the bug
Database schema in environment variables does not work properly.

### Steps to reproduce the

[2022-08-18 22:35] ahamill85 opened #36 "error: insert into "up_users" (...) - column "name" of relation "up_users" does not exist"
## Bug report

### Required System information

- Node.js version: 16.17.0
- NPM version: 8.15.0
- Source Strapi version: 3.6.8
- Target Strapi version: 4.3.4
- Source Database: pgs
- Target Database: pgs
- Operating system: alpine
- Which script are you running: v3-sql-v4-sql

### Describe the bug

`const message = name === 'notice' ? new messages_1.NoticeMessage(length, messageValue) : new messa

[2022-08-23 11:24] andresfelipe9619 commented on #19
Hello, I'm getting the same error
[code]
@derrickmehaffy There is something we can do to migrate those fields? Thanks

[2022-08-24 15:45] derrickmehaffy commented on #27
@cruonline / @bananafreak are either of you open to creating a pull request with your workaround please?

Thanks you

[2022-08-24 15:53] derrickmehaffy commented on #36
I have additional user context in my possession but I cannot share because it's private, if you need it to reproduce let me know.

[2022-08-26 20:38] LilyLauben commented on #19
Also getting this error:
[code]

[2022-08-26 20:44] derrickmehaffy commented on #19
@VincentDugard / @andresfelipe9619 / @LilyLauben from what I can see that column is no longer required. Can you please do the following:

- Take a database back (of course)
- Use a SQL CLI or GUI client to manually go in and delete that column
- Test migration again

The PR I mentioned should take care of this but to not hold you all back I want to see if manually cleaning would resolve the issue.

[2022-08-26 21:58] LilyLauben commented on #19
After removing `fields` from the `strapi_permission` table in my v3 database, I was able to run the migration script with no error 👍

[2022-08-27 12:57] andresfelipe9619 commented on #19
@derrickmehaffy Thanks for the response.
So far no luck… I deleted the column and tested the script again, but this time is another issue.
`UnhandledPromiseRejectionWarning: error: delete from "up_users_role_links" - relation "up_users_role_links" does not exist`
![image](https://user-images.githubusercontent.com/26072242/187031138-907a0644-c981-4045-b0bc-6c3b39c33cda.png)

[2022-08-27 16:54] derrickmehaffy commented on #19
That sounds like you have some corruption in your permissions table, some permissions without roles they are linked to.

The script won't be able to handle that.

[2022-08-27 16:55] derrickmehaffy commented on #19
Or sorry some users without roles or users with roles that don't exist anymore.

[2022-08-29 12:37] jodok commented on #32
i'm sorry, we manually migrated our project and fixed the missing links manually. feel free to close the issue if you don't want to further investigate. thanks for your support so far!

[2022-08-29 16:41] derrickmehaffy commented on #32
Sounds fine, if someone else hits the issue we can reopen it but without reproduction steps (and we can't reproduce) then I'll set this as closed.

[2022-08-29 16:41] #32 closed

[2022-08-31 09:21] Barenstaden opened #38 "Error inserting relation field to up_users"
## Bug report

### Required System information

- Node.js version: 16.17.0
- NPM version: 8.15.0
- Source Strapi version: 3.6.8
- Target Strapi version: 4.3.4
- Source Database: Sqlite3
- Target Database: Sqlite3
- Operating system: MacOS
- Which script are you running: v3-sql-v4-sql

### Describe the bug

Relation fields on the user model fails to migrate to V4 as schema is not loaded in migrateU

[2022-08-31 12:05] andresfelipe9619 commented on #19
@derrickmehaffy Thanks for the response, I will take a look tonight and let you know

[2022-08-31 22:18] ConradP opened #39 "Double stringification of conditions column values on the admin_permissions table."
## Bug report

### Required System information

- Node.js version: 14.20.0
- NPM version: 6.14.17
- Source Strapi version: 3.6.8
- Target Strapi version: 4.3.6
- Source Database:  sqlite or mysql (verified on both)
- Target Database: sqlite or mysql (verified on both)
- Operating system:  Ubuntu 22.04 LTS
- Which script are you running: v3-sql-v4-sql

### Describe the bug
The conditions values in

[2022-08-31 22:20] ConradP commented on #39
I have created #40 to resolve this issue, it has been verified for both SQLite and MySQL/MariaDB databases. I have not tested it on a PostgreSQL database

[2022-09-01 16:27] #39 closed

[2022-09-01 17:33] derrickmehaffy commented on #19
I was talking to another user that the issue was around the relation they had with users-permissions wasn't migrated properly at the code level, can you check your users-permissions schema file to see if the other side of the relation was correctly added?

[2022-09-01 21:49] derrickmehaffy commented on #29
Since we are unable to reproduce, I'm going to close this. If you have new information please share and we can reopen.

[2022-09-01 21:49] #29 closed

[2022-09-02 13:29] MotaZor94 commented on #19
Hi everyone, I had this same issue and I deleted the fields column, but now after deleting it I get this error:

`Migrating 229 items from strapi_permission to admin_permissions
strapi_permission batch #1
(node:18128) UnhandledPromiseRejectionWarning: error: insert into "admin_permissions" ("action", "conditions", "created_at", "id", "properties", "subject", "updated_at") values ($1, $2, $3, $4, $

[2022-09-02 15:57] MotaZor94 commented on #19
Is your database hosted on Heroku by any chance?

[2022-09-02 16:08] derrickmehaffy commented on #35
Hi @jweb89 can you test my branch assigned to PR #41 ?

Thanks!

[2022-09-02 16:13] derrickmehaffy commented on #27
It appears that for the vast majority of use-cases replica mode should work, for those that run into issues like the above it might be easier to migrate locally and export a database dump to upload remotely or use the suggestions above.

For now I'll set this issue as closed as generally this is handled by setting the DB into replica mode which we handle automatically.

[2022-09-02 16:13] #27 closed

[2022-09-02 17:44] jweb89 commented on #35
Hi @derrickmehaffy thanks for looking into this. I will test it and get back to you next week. Thanks!

[2022-09-04 11:30] MotaZor94 commented on #19
Hi @derrickmehaffy, looks like, after the latest merge, the conditions column in the admin_permissions table throws invalid input syntax for type JSON which I mentioned above, changing it back to
 `conditions: JSON.stringify(item.conditions),`
fixed my issue.
However, I still have an issue with the set_session_replication role to replica with Heroku.

[2022-09-04 14:28] andresfelipe9619 commented on #19
@derrickmehaffy Still facing the issues, this is my schema:
![code](https://user-images.githubusercontent.com/26072242/188318472-5b7d390a-d859-4f11-b145-4148682fced1.png)

Also, as pointed out from @MotaZor94, I've had to stringify `properties` & `conditions`.
![image](https://user-images.githubusercontent.com/26072242/188318602-4d8f13f8-3d04-414b-a8fe-ababd8efdd85.png)

[2022-09-04 15:30] andresfelipe9619 commented on #19
@derrickmehaffy These are my tables for strapi-permissions generated from v4, seems like `up_users_role_links` does not exist but `users_permissions_user_role_links` does exist, seems like a naming issue? Should I rename those tables, or am I missing something to properly migrate the table names?
![image](https://user-images.githubusercontent.com/26072242/188321200-151fe490-788f-4ada-84fb-b6e26983

[2022-09-06 16:05] derrickmehaffy commented on #19
Thanks @MotaZor94 , I've reverted the commit for now until we can dive deeper

[2022-09-06 16:05] derrickmehaffy commented on #39
Reopening this as I had to revert the PR merge of #40 as other users were reporting problems in https://github.com/strapi/migration-scripts/issues/19

[2022-09-06 16:07] derrickmehaffy commented on #19
Are you working on the same database? These migration scripts expect that you have two different databases, one for v3 and one for v4

[2022-09-06 16:24] andresfelipe9619 commented on #19
@derrickmehaffy No, I'm working with different database, the screenshot was for the v4 after running the api in develop mode with an empty db

[2022-09-06 16:28] derrickmehaffy commented on #19
Those `users-permissions*` tables should not exist as they aren't used in v4. We use the `up_*` versions now.

I can't seem to reproduce that logic during a test migration currently.

[2022-09-06 20:14] jweb89 commented on #35
Hey @derrickmehaffy I'm still getting the same issue.
[code]

The exact thing I am trying to do is move our existing v3 database which is in public to a new schema called strapi for v4. It looks like it's not finding the table even though it exists after starting the strapi admin on that schema

[2022-09-07 14:34] andresfelipe9619 commented on #19
@derrickmehaffy I can share my database for you to reproduce it if you want

[2022-09-07 18:40] derrickmehaffy commented on #19
That would be great. Are you on our community Discord? If so PM me directly: `dmehaffy#1337`

[2022-09-09 15:22] derrickmehaffy commented on #35
:thinking: Alright I'll try taking another look once I get a moment.

[2022-09-12 12:46] laurenskling opened #43 "Mongo db is hardcoded to be `strapi`"
which in my case was the development database, and not `production` I was trying to connect to. Took my a while before i realized   what was happing 🥲

https://github.com/strapi/migration-scripts/blob/25ab4e6c270554478c30a257baa5adfcbdc750e0/v3-mongodb-v3-sql/index.js#L96

[2022-09-12 14:29] vitormanfredini opened #51 "v3 to v4 postgres migration script fails: relation "up_users_role_links" does not exist"
## Bug report

### Required System information

- Node.js version: v14.20.0
- NPM version: 6.14.17
- Strapi version: v4.3.8
- Database: PostgreSQL 14.5
- Operating system: Ubuntu 20.04

### Describe the bug

After following the steps to migrate database from v3 to v4, the scripts fails with the following error:

`error: delete from "up_users_role_links" - relation "up_users_role_links" does not ex

[2022-09-16 10:31] derrickmehaffy commented on #43
so sorry about that @laurenskling indeed :see_no_evil: this is what happens when I test using `strapi` as database names lol. Working on a fix now

[2022-09-16 12:10] laurenskling commented on #43
Haha no worries mate. I'm very grateful for these migrations. Just wanted to help out the next developer :)

[2022-09-16 13:48] peksi opened #46 "Component field relations dissappearing during the migration process"
## Bug report

Hello and thanks for the hard work with the migration scripts! This is my first PR so let me know in case there is something unclear. Also steps 5. and 8. are something that could raise another issue, but I think that the most critical and valuable thing to solve is the described issue.

### Required System information

- Node.js version: 14 on v3, 16 on v4
- NPM version: 7.20.3
- S

[2022-09-16 13:59] #43 closed

[2022-09-16 17:41] rlisac opened #47 "Cannot read properties of undefined (reading 'includes')"
## Bug report

### Required System information

- Node.js version:  16.13.2
- NPM version: 8.1.2
- Source Strapi version: 3.6.8
- Target Strapi version: 4.3.8
- Source Database: mysql
- Target Database: mysql
- Operating system: OSX
- Which script are you running: v3-sql-v4-sql

### Describe the bug

When running the script, the script aborts with the following error:
**const v3RelationTables = ta

[2022-09-19 12:48] MotaZor94 commented on #46
Having the same issue here!

[2022-09-26 15:47] GregorSondermeier opened #49 "Many-to-many relations in some cases not properly migrated"
## Bug report

### Required System information

- Node.js version: 14.20.1
- NPM version: 6.14.17
- Source Strapi version: 3.6.10
- Target Strapi version: 4.3.9
- Source Database: SQL (MariaDB and SQLite)
- Target Database: SQL (MariaDB and SQLite)
- Operating system: Ubuntu 20.04
- Which script are you running: v3-sql-v4-sql

### Describe the bug

In some cases, many-to-many relations are not pro

[2022-09-26 15:47] GregorSondermeier opened #70 "Data of many-to-many relations in some cases not migrated"

[2022-09-26 20:52] bglidwell commented on #49
can confirm this issue as well

[2022-09-27 14:06] jpizzati-uvl commented on #47
I'm experiencing the same issue, apparently some tables are showing up as "undefined",  which causes the the migration script to stop.

**System information**
- Node.js version: 14.20.1
- NPM version: 6.14.17
- Source Strapi version: 3.6.8
- Target Strapi version: 4.3.8
- Source Database: mysql
- Target Database: mysql
- Operating system: OSX
- Which script are you running: v3-sql-v4-sql

![Screen

[2022-09-27 16:29] GregorSondermeier commented on #49
Or is this a [codemods](https://github.com/strapi/codemods) issue?

[2022-09-27 18:13] jpizzati-uvl commented on #47
It appear that this is a case issue. I was able to resolve this by renaming all instances of "table_name" to "TABLE_NAME", (3) in total and found in:

- index.js
- migrateComponents.js
- relationHelpers.js

![Screen Shot 2022-09-27 at 20 13 14](https://user-images.githubusercontent.com/95911884/192604387-4ba97487-40be-4bbb-b21a-a5f518d2d6b1.png)

![Screen Shot 2022-09-27 at 20 13 30](https://user-

[2022-09-28 15:37] pepijn-vanvlaanderen commented on #32
@derrickmehaffy we ran into the same issue. We have opened a PR with a small fix: https://github.com/strapi/migration-scripts/pull/50

[2022-09-30 10:42] martincapek commented on #35
Hi @jweb89 Can you please try https://github.com/strapi/migration-scripts/pull/54? It should be fixed I did same as you said and the migration works for me. Thanks!

[2022-09-30 11:12] martincapek commented on #47
Hi, what version of mysql (mariadb) are you using? I'm not able to reproduce this error

[2022-09-30 11:22] jpizzati-uvl commented on #47
I'm on version 2.18.1

[2022-09-30 11:39] ondrejhadrava commented on #49
I have same issue

[2022-09-30 13:58] martincapek commented on #47
And the database itself? Im using mariadb:10.5.8

[2022-09-30 14:10] derrickmehaffy commented on #36
I believe this is duplicate of #38

[2022-09-30 14:10] #36 closed

[2022-09-30 14:13] derrickmehaffy commented on #49
Fairly certain this is codemods related and is likely related to #46

[2022-09-30 15:38] #35 closed

[2022-09-30 17:23] jweb89 commented on #35
We actually finished migrating to v4! I Just did the migration to public schema and then renamed the schema to what I wanted. So if it's working for you safe to say it's fixed. Thanks!

[2022-10-01 16:39] PritamSangani opened #60 "Incorrect logic for getting id column of component field in relation link table"
## Bug report

### Required System information

- Node.js version: 16.15.0
- NPM version: 8.7.0
- Source Strapi version: 3.6.8
- Target Strapi version: 4.3.8
- Source Database: mysql
- Target Database: mysql
- Operating system: OSX
- Which script are you running:  v3-sql-v4-sql

### Describe the bug

When migrating relations, when one side of the relationship is a component, the id column of the c

[2022-10-02 20:59] colearendt commented on #60
Not sure if this is related, but I'm getting an `id` related error in my migration from v3 to v4

[code]

[2022-10-02 21:37] colearendt opened #62 "Reset Table Sequence has a syntax error on PostgreSQL"
https://github.com/strapi/migration-scripts/blob/9ce036217a0bb8daef65523f1e5e6c56602b279a/v3-sql-v4-sql/migrate/helpers/migrate.js#L153-L161

On PostgreSQL (have not tried other backends), table references should use `"` instead of `'`.

[code]

[2022-10-02 22:28] colearendt opened #63 "PostgreSQL parameterized JSON cannot handle JSON input"
## Bug report

### Required System information

- Node.js version: v14.16.0
- NPM version: 6.14.11
- Source Strapi version: 3.6.8
- Target Strapi version: 4.1.1
- Source Database: Postgres
- Target Database: Postgres
- Operating system:
- Which script are you running: v3-sql-to-v4-sql

### Describe the bug

The parameterized insert syntax for a `json` field in PostgreSQL contains invalid syntax. S

[2022-10-03 09:04] NguyenSon2310 commented on #62
$ node index.js
Migrating Core Store
Migrating 355/777 items from core_store to strapi_core_store_settings
core_store batch #1
core_store batch #2
core_store batch #3
core_store batch #4
core_store batch #5
core_store batch #6
core_store batch #7
core_store batch #8
(node:83930) UnhandledPromiseRejectionWarning: error: SELECT SETVAL ('strapi_core_store_settings_id_seq', (SELECT MAX(id) + 1 FROM 's

[2022-10-04 06:57] martincapek commented on #47
Okey, I will test it also on that, thanks!

[2022-10-04 14:24] MightyDjinn commented on #62
We are running into this issue as well. Any workaround?

[2022-10-05 04:50] NguyenSon2310 commented on #62
Hi guys, you can use this custom repo for migrate postgres v3 to v4, make sure clean all table in schema v4 and init them by yarn develop before run scripts
[https://github.com/vitormanfredini/strapi-v3tov4-modified-migration-scripts](https://github.com/vitormanfredini/strapi-v3tov4-modified-migration-scripts)

[2022-10-05 12:32] kolyabres opened #64 "Uploads migration bug"
## Bug report

### Required System information

- Node.js version: `v16.14.0`
- NPM version:  `yarn 1.22.17`
- Source Strapi version: `3.6.10 — Community Edition`
- Target Strapi version:  `4.3.9`
- Source Database: `Postgres 13`
- Target Database:  `Postgres 13`
- Operating system: `macOS Monterey 12.5.1`
- Which script are you running: `yarn start`

### Describe the bug

I got this error when I

[2022-10-05 12:58] #64 closed, assigned to nobody

[2022-10-07 20:17] derrickmehaffy commented on #63
Unable to reproduce, need clearer steps to assist in reproduction.

For now I will mark this issue as closed until updated information is provided.

[2022-10-07 20:17] #63 closed

[2022-10-08 21:17] XuluWarrior opened #68 "Components with the same name as collections"
## Bug report

### Required System information

- Target Strapi version: 4.4.3
- Which script are you running: v3-sql-v4-sql

### Describe the bug

Strapi allows components to have the same name as collections but the migration script doesn't allow for this and results in link tables with only the component id set, with `null` for the collection.

If a component has a one to one relationship with

[2022-10-08 21:32] XuluWarrior commented on #60
I hit this problem as well.  In my case I had a component named `activity_with_reps` with a one to one relationship to a collection named `activity`.
Strapi generates a table, `components_category_activities_with_reps_activity_links` with the fields
[code]
The migration script expects the component id field to be `activity_with_rep_id`

I don't have any relationships which aren't between component

[2022-10-17 19:21] n-sikka commented on #60
@colearendt Could you please elaborate a bit on how you can stop the migration script from creating the v4 schema? I'm currently trying to migrate quite complex schemas and I've a bunch of relational fields and I can't find much in the documentation on what to do here. Any help would be super useful! 🙏

[2022-10-19 02:39] colearendt commented on #60
@n-sikka Yes, apologies for not clarifying. The upgrade documentation is here:

- https://docs.strapi.io/developer-docs/latest/update-migration-guides/migration-guides/v4/data-migration.html
- https://docs.strapi.io/developer-docs/latest/update-migration-guides/migration-guides/v4/data/sql.html#global-changes

Specifically, I was following the set of steps under `Migration` in the v3-sql to v4-sql

[2022-10-20 09:21] laurenskling commented on #68
I've just hit the same thing.

My use case:

I've got a contentType `column` and a component called `column` that allows you to pick a relationship to a `column` model. which results in table:
`| id | column_id | inv_column_id`

`inv_column_id` does not get filled in the migration, while other components that have relationships to a model _not_ sharing the name (thus, not getting a `inv_` columnNa

[2022-10-24 16:04] derrickmehaffy commented on #51
I believe I found the root cause of this issue here. The problem comes from codemods in https://github.com/strapi/codemods/issues/47

Can you confirm that your extensions of users-permissions has the proper `collectionName` value of `up_users`

[2022-10-25 12:55] vitormanfredini commented on #51
No, it's using the old ones. Good catch.

When I get the time, I'll try to redo the database migration with the right ones.

Thank you

[2022-10-27 13:53] derrickmehaffy commented on #19
I believe this issue is related to https://github.com/strapi/codemods/pull/48. If someone could check with this fix and double check your code-base to ensure you have the proper collectionName set on users-permissions.

[2022-10-27 14:04] martincapek commented on #33
We can add env variable to disable migration of `DISABLE_UP_MIGRATION`

[2022-10-27 16:02] derrickmehaffy commented on #38
Discussed this morning with @martincapek who has it on his todo ASAP once he gets a free slot. (thanks @martincapek :pray: )

[2022-10-28 17:22] derrickmehaffy commented on #51
For now I'll go ahead and close this but if anyone hits the issue please let us know.

[2022-10-28 17:22] #51 closed

[2022-11-01 10:40] darkcherrycreative commented on #70
Can confirm i've had the same issue, all manyToMany relations are lost when the migration script is run. All other relations work fine, but manyToMany are lost with the exact symptoms described by the OP

[2022-11-02 16:42] GregorSondermeier commented on #70
Ok, now I'm pretty sure this is not reduced to many-to-many relations, but also to other kinds of relations.

In our project we have a collectionType _TeachingUnit_, which looks roughly like this:

**v3**

[code]

v3 table _teaching_units__default_periods_:
![image](https://user-images.githubusercontent.com/11959747/199548896-b4d19aeb-5eae-4755-9833-2083df7cbf06.png)

v3 table _teaching_units__def

[2022-11-08 15:08] GregorSondermeier commented on #68
Can confirm this issue

[2022-11-09 07:40] GregorSondermeier commented on #68
I forked this repo into my company's bitbucket and wrote a custom migration for it. Here is some abbreviated example code in case anyone is interested.

First off, I moved executing the custom migrations to the very end, because in my case I had to fix this and some other migrations that were not done properly by the script out-of-the-box.

[code]

[code]

[code]

[2022-11-21 16:20] sarsonj opened #71 "Localized entries are not migrated correctly - _localization_links tables missing values in inv_* fields"
## Bug report

### Required System information

- Node.js version: 14.2
- Source Strapi version: 3.6.10
- Target Strapi version: 4.5.1
- Source Database: mysql
- Target Database: mysql
- Operating system: Linux
- Which script are you running: v3-sql-v4-sql

### Describe the bug

I run data migration from 3.6.10 version to latest 4.5.1. The migration finished, but for localized entries no links wer

[2022-11-22 10:04] sarsonj commented on #71
I made analyzation what is happening and the problem is, that in the original 3.x version table, the link to translated content field is named "blog-article_id". The migrateItem method in migrateFields.js converts this field to the same blog_article_id. I am not sure, when naming convention changes, looks like newer version are using related_ prefix.

Screenshot of 3.x table:

<img width="356" alt

[2022-11-25 19:26] martincapek commented on #38
Hi @GregorSondermeier and @Barenstaden can you please test it? It should be fixed #72

[2022-11-25 20:04] martincapek commented on #71
Hi, this should be fixed in #73 and happens due to the Strapi update.

[2022-11-25 20:11] martincapek commented on #33
Hi, should be fixed in https://github.com/strapi/migration-scripts/pull/74

[2022-11-28 10:17] Barenstaden commented on #38
Hi @martincapek, thank you for the update! All relations are migrated properly now 🎉